<div class="container">
  <form #ngForm="ngForm">
    <h2>Cadastro de Usuarios</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" [(ngModel)]="usuariosRequest.nome" required>
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="text" name="login" [(ngModel)]="usuariosRequest.login">
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="text" name="senha" [(ngModel)]="usuariosRequest.senha">
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput mask="000.000.000-00" type="text" name="cpf" [(ngModel)]="usuariosRequest.cpf">
      </mat-form-field>
    </div>


  </form>

  <mat-card >
    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput mask="(00) 00000-0000" type="text" [(ngModel)]="telefone.numero" name="numero" id="numero">
      </mat-form-field>

       <div class="btnAdd">
         <button mat-raised-button (click)="addTel()">Adicionar</button>
       </div>
      
    </div>

    <div  fxLayout="column">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{element.numero | mask: '(00) 00000-0000' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef></th>
        <th mat-cell *matCellDef="let element; let i = index;"><button mat-raised-button 
            (click)="deletarTel(element.id,i)">Deletar</button></th>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>

  </mat-card>


 
  <br>
  <button mat-raised-button (click)="salvarUsuario()" [disabled]="ngForm.invalid">Salvar</button>
  <button mat-raised-button (click)="navigate()">Pesquisar</button>

</div>