<div class="content">
  <mat-card>
      <form>
        <h2>Login</h2>
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" name="login" #login="ngModel" [(ngModel)]="usuario.login" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Password" type="password" name="senha" #senha="ngModel"
            [(ngModel)]="usuario.senha" required>
        </mat-form-field>
        <button mat-raised-button color="white" (click)="logar()"
          [disabled]="login.invalid || senha.invalid">Entrar</button>
          <button [disabled]="login.invalid" mat-raised-button color="white" (click)="recuperar()">Recuperar senha</button>
      </form>
  </mat-card>
</div>