<div class="container">
    <br>
    <h2>Pesquisa por nome</h2>
    <br>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="nome" [(ngModel)]="user.nome">
        </mat-form-field>
        <div class="btnBuscar">
            <button mat-raised-button (click)="buscarPorNome()">buscar</button>
        </div>
        <div class="btnBuscar">
            <button mat-raised-button (click)="imprimirPDF()">Imprimir</button>
        </div>

    </div>

    <mat-table [dataSource]="usuarios" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Id:</span>
                 {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> nome </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Nome:</span>
                 {{element.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Login:</span>
                 {{element.login}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button (click)="deletaUsuario(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button type="button" (click)="navigateEdit(element.id)"  mat-icon-button >
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button type="button" (click)="visualizarRelUsuarioId(element.id)"  mat-icon-button >
                  <mat-icon>find_in_page</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" skip_previous="voltar" showFirstLastButtons></mat-paginator>
    <br>
    <button mat-raised-button (click)="navigate()">Novo</button>
</div>
