.container{
    padding: 20px;
}


a{
    color: #fff;
 
}

a:hover{
    text-overflow: clip;
    color: brown;
}

table{
    width: 300px;
}

button{
    background-color:#0054b8;
    color: white;
}

.btnAdd{
    padding-left: 2px;
    padding-top: 12px;
}