.container{
    padding: 20px;
}


a{
    color: #fff;

}

a:hover{
    text-overflow: clip;
    color: brown;
}

table{
    width: 300px;
}

.mat-header-cell{
  font-size: 14px;
  font-weight: 600;
}
.mat-cell{
  font-size: 12px;
}

.mat-row:nth-child(even){
  background-color: #F2F8FF;
}

.mat-row:hover {
  background-color: #E5E5E5;
}

button{
    background-color:#0054b8;
    color: white;
}

.btnAdd{
    padding-left: 2px;
    padding-top: 12px;
}
