.menu{
    
    width: 200px;
    height: 100%;
    background-color: #0054b8;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu ul{
    padding-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul li{
    list-style: none;
    padding-top: 6px;
    
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    text-overflow: clip;
    color: brown;
}
